<?xml version="1.0" ?>
<project name="Build Server" default="war">
    <path id="compile.classpath">
        <fileset dir="${basedir}/lib/">
            <include name="*.jar"/>
        </fileset>
    </path>
    <target name="init">
        <mkdir dir="${basedir}/out/classes"/>
    </target>
    <target name="compile" depends="init" >
        <javac destdir="${basedir}/out/classes/" debug="true" includeantruntime="0" srcdir="${basedir}/src/">
            <classpath refid="compile.classpath"/>
        </javac>
        <unzip dest="${basedir}/out/classes">
            <fileset dir="${basedir}/lib/">
                <include name="**/*.jar" />
                <exclude name="webapp-runner-8.0.18.0-M1.jar" />
            </fileset>
        </unzip>
    </target>
    <target name="war" depends="compile">
        <war destfile="out/dist.war" webxml="${basedir}/web/WEB-INF/web.xml">
            <fileset dir="${basedir}/web/"/>
            <classes dir="${basedir}/out/classes"/>
        </war>
        <delete dir="${basedir}/out/classes" />
    </target>

    <target name="clean">
        <delete dir="${basedir}/out" />
    </target>

    <target name="install" depends="war" >
        <echo message="Installing" />
    </target>

    <target name="run" depends="install, seed">
        <echo message="Running" />
        <java jar="${basedir}/lib/webapp-runner-8.0.18.0-M1.jar" fork="true">
            <sysproperty key="config-file" value="${basedir}/herokuconfiguration.json" />
            <arg value="--expand-war" />
            <arg value="${basedir}/out/dist.war" />
            <arg value="--port" />
            <arg value="${port}" />
        </java>
    </target>

    <target name="seed" depends="compile">
        <java classname="catfeeder.db.DatabaseClient">
            <sysproperty key="config-file" value="${basedir}/herokuconfiguration.json" />
            <classpath path="${basedir}/out/classes" />
        </java>
    </target>
</project>